h1{
    text-align: center;
    color: yellow;
    background-color: black;
}

body{
    background-color:rgb(127, 134, 83);
}

a{
    text-align: center;
    color: yellow
}

p{
    text-align: center;
    color: yellow
}